<article class="post-card">
  <h2 class="post-card__title">
    <a href="{{ article.url|relative_url }}">{{ article.title }}</a>
  </h2>
  <div class="post-card__meta">
    <a class="post-card__category" href="{{ article.category.url|relative_url }}">[{{ article.category }}]</a>
    <span class="post-card__author">{{ article.author }}</span>
    <span class="post-card__sep">|</span>
    <time class="post-card__date" datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%B %-d, %Y') }}</time>
  </div>
  <div class="post-card__excerpt">
    {{ article.summary }}
    <a class="post-card__arrow" href="{{ article.url|relative_url }}">&rarr;</a>
  </div>
</article>
